.absolute {
  position: absolute
}

.relative {
  position: relative
}

.right-0 {
  right: 0px
}

.right-24 {
  right: 6rem
}

.right-4 {
  right: 1rem
}

.mt-2 {
  margin-top: 0.5rem
}

.mt-6 {
  margin-top: 1.5rem
}

.ml-3 {
  margin-left: 0.75rem
}

.flex {
  display: flex
}

.h-full {
  height: 100%
}

.w-14 {
  width: 3.5rem
}

.w-4 {
  width: 1rem
}

.flex-1 {
  flex: 1 1 0%
}

.flex-row {
  flex-direction: row
}

.flex-col {
  flex-direction: column
}

.items-start {
  align-items: flex-start
}

.items-center {
  align-items: center
}

.justify-start {
  justify-content: flex-start
}

.justify-center {
  justify-content: center
}

.justify-between {
  justify-content: space-between
}

.justify-around {
  justify-content: space-around
}

.rounded-full {
  border-radius: 9999px
}

.bg-blue-200 {
  --tw-bg-opacity: 1;
  background-color: rgb(191 219 254 / var(--tw-bg-opacity))
}

.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem
}

.pt-12 {
  padding-top: 3rem
}

.text-center {
  text-align: center
}

.font-semibold {
  font-weight: 600
}

.font-medium {
  font-weight: 500
}

.text-blue-800 {
  --tw-text-opacity: 1;
  color: rgb(30 64 175 / var(--tw-text-opacity))
}
